<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/updatepassword" enctype="multipart/form-data"> 
                    
        <div class="form-group form-row">
            <label class="col-md-3 required">New Password</label>
            <div class="col-md-9">
              <input type="password" class="form-control" name="password" placeholder="New Password" required >
            </div>
        </div>
        <!-- <div class="form-group form-row">
          <label class="col-md-3">Upload Image</label>
          <div class="col-md-9">
            <input type="file" id="image" />
          </div>
        </div> -->
        <div class="form-group form-row">
            <label class="col-md-3 required">Confirm Password</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="password" placeholder="Confirm Password" required >
            </div>
        </div>
        
        <div class="form-group">
            <input class="btn btn-primary btn-block" type="submit" value="update" />
        </div>
      

    
</form>
</body>
</html>